{% extends '::base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/wizardalleyadmin/js/yadcf/jquery.dataTables.yadcf.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />

{% endblock %}

{% block before_body %}
    <div class="full-container">
        <header>
            <nav class="navbar navbar-default"><div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Wizard Alley</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('admin_list_page', {tableName: 'user'}) }}">Utilisateur</a></li>
                            <li><a href="{{ path('admin_list_page', {tableName: 'page'}) }}">Page</a></li>
                            <li><a href="{{ path('admin_list_page', {tableName: 'information'}) }}">Information</a></li>
                            <li><a href="{{ path('admin_list_page', {tableName: 'publication'}) }}">Publication</a></li>
                            <li><a href="">Statistique</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <diw class="row">
                <div class="col-md-12 background-wizard">
                    {% block body_admin %}

                    {% endblock %}
                </div>
            </diw>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/bundles/wizardalleyadmin/js/yadcf/jquery.dataTables.yadcf.js"></script>
    <script src="/bundles/wizardalleyadmin/js/admin-manager.js"></script>
    <script src="/bundles/wizardalleydefault/jquery-ui/jquery-ui.js"></script>
    <script src="/bundles/wizardalleyadmin/js/wizard.dataTable.js"></script>
{% endblock %}