{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form action="{{ path('wizardalley_user_couverture_edit_picture') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_picture_edit">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
        <div>
            <img src="{{asset(app.user.getPictureCouverture())}}" width="600px"/>
        </div>

{% endblock fos_user_content %}
