{% extends "FOSUserBundle::layout.html.twig" %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/hinclude.js')}}"></script>
{% endblock %}

{% block fos_user_content %}
    <H1>{{ user.username }}</h1>
    <div class="row" >
        <div class="col-md-3">
            <div class="imgSquare">
                <div class="imgSquareContainer">
                    <img src="{{asset(user.getPictureProfile())}}"/>
                </div>
            </div>
            <a href="{{path('wizardalley_user_profile_edit_picture')}}">{% trans %}wizard.user.profile.edit_picture{% endtrans %}</a>
        </div>
        <div class="col-md-9">
            <div class="fos_user_user_show">
                <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
                <p>{{ 'wizard.user.profile.lastname'|trans({}) }}: {{ user.lastname }}</p>
                <p>{{ 'wizard.user.profile.firstname'|trans({}) }}: {{ user.lastname }}</p>
            </div>
            <div>
                {% if user.facebook != null %}
                    <a href="{{user.facebook}}" /><span class="icon-large icon-facebook" aria-hidden="true"></span></a>
                {% endif %}
                {% if user.twitter != null %}
                    <a href="{{user.twitter}}" /><span class="icon-large icon-twitter" aria-hidden="true"></span></a>
                {% endif %}
            </div>

            <a href="{{path('fos_user_profile_edit')}}">{{ 'wizard.user.profile.edit'|trans({}) }}</a>
            <a href="{{path('fos_user_change_password')}}">{{ 'wizard.user.profile.change_pwd'|trans({}) }}</a>
        </div>
    </div>
    <div class="row">
        <div>
            <h3>{% trans %}wizard.user.profile.friend_list{% endtrans %}
        </div>
        {{render_hinclude(url('wizard_get_friends_view'))}}
    </div>
    
{% endblock fos_user_content %}
