{% extends '::base.html.twig' %}

{% block body_style %}url('{{ asset(entity.user.getPictureCouverture) }}'){% endblock %}

{% block title_banner %}
    <div class="imgSquare circle">
        <div class="imgSquareContainer circle">
            <img src="{{ asset( entity.user.getPictureProfile()) }}" class="circle"/>
        </div>
    </div>
    <h1>
        {{ entity.user.username }}
    </h1>
    <h2>
        {{ entity.user.smallDescription }}
    </h2>
{% endblock %}


{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {{ entity.title }} - {{ entity.page.name }}
{% endblock %}
{% block body -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2">
                    {% if app.user.id == entity.user.id %}
                        {% include '::includes/disablePublicationButton.html.twig' with {'id': entity.id} %}
                    {% elseif app.user %}
                        {% include '::includes/addBlameButton.html.twig' with {'id': entity.id, 'type': 'publication'} %}
                    {% endif %}
                </div>
                <div class="col-xs-8">
                    <h1>{{ entity.title }}</h1>
                </div>
                <div class="col-xs-2">
                    <h3>
                        <i class="icon-large icon-heart"></i>&nbsp;{{ entity.countLike }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2><a href="{{ path('page_show',{'id_page': entity.page.id}) }}">{{ entity.page.name }}</a></h2>
                    <p>Par
                        <a href="{{ path('wizardalley_user_wall', {'id': entity.user.id }) }}">{{ entity.user.username }}</a>,
                        le {{ entity.createdAt|date('Y-m-d') }}
                    <p>{{ entity.content | raw }}</p>
                    {% if entity.getImages()|length > 0 %}
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                    <ol class="carousel-indicators">
                                        {% set i = 0 %}
                                        {% for image in entity.getImages() %}

                                            <li data-target="#myCarousel"
                                                data-slide-to="{{ i }}" {% if i == 0 %} class="active"{% endif %} ></li>

                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </ol>

                                    <div class="carousel-inner " role="listbox">
                                        {% set i = 0 %}
                                        {% for image in entity.getImages() %}

                                            <div class="item {% if i == 0 %} active{% endif %}">
                                                <img src="{{ asset(image.getWebPath()) }}" alt="{{ i }}">
                                                <div class="carousel-caption">
                                                    {{ image.description }}
                                                </div>
                                            </div>
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </div>

                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button"
                                       data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">

                    <h3>{% trans %}publication.comments{% endtrans %}</h3>
                    <div class="comment_block">
                        <div id="comment_content">
                        </div>
                    </div>
                    {% if app.user %}
                        <div>
                            {{ form(comment_form) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <span class="glyphicon glyphicon-chevron-down clickable wizard-load-comments" aria-hidden="true"></span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script id="comment-template" type="text/template">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <img src="<%= srcImg %>" class="img-responsive">
                </div>
                <div class="col-xs-10">
                    <p class="message">
                        <%= message %>
                    </p>
                    <p class="time">
                        <%= username %>, le <%= time %>
                    </p>
                </div>
            </div>
        </div>
    </script>
    <script>
        var _$page = 1;

        function loadComment(data) {
            console.log(data);
            $.each(data['extra']['data'], function (index, value) {
                addComment(value);
            });
        }

        function loadMore() {
            _handler = function (data) {
                console.log(data);
                $.each(data['extra']['data'], function (index, value) {
                    addComment(value);
                });
            };
            $result = util.loadMore(
                    Routing.generate('comment_get', {'id': {{ entity_id }}, 'page': _$page}),
                    'GET',
                    _handler
            );
            _$page = _$page + 1;
        }

        loadMore();

        $('.wizard-load-comments').on('click', function () {
            loadMore();
        });


        function addComment(comment) {
            var $tpl = _.template($('#comment-template').html()),
                    $div = $('#comment_content');
            $div.append($tpl({
                srcImg: '{{ asset('uploads/profile/') }}' + comment.id + '/' + comment.pathProfile,
                message: comment[0].content,
                username: comment.username,
                time: comment[0].dateComment.date.substr(0, 19)
            }));
        }

        $('.carousel').carousel({
            interval: 3000
        });
    </script>
{% endblock %}
