{% extends '::page/pageBase.html.twig' %}
{% block page_body %}
    <div class="panel panel-default full-publication">
        <div class="panel-body">
            <div class="row publication-top">

                <div class="col-xs-10">
                    <div class="row ">
                        <div class="col-xs-3 img-container">
                                    <img src="{{ asset(page.getPictureProfile()) | imagine_filter('small_thumb')}}" class="img-profil"/>
                        </div>
                        <div class="col-xs-9 title-container">
                            <div class="page-name"><a href="{{ path('page_show',{'id_page': entity.page.id}) }}">{{ entity.page.name }}</a></div>
                            <div class="publication-name">{{ entity.title }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <h3>
                        <i class="icon-large icon-heart"></i>&nbsp;{{ entity.countLike }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Par
                        <a href="{{ path('wizardalley_user_wall', {'id': entity.user.id }) }}">{{ entity.user.username }}</a>,
                        le {{ entity.createdAt|date('Y-m-d') }}
                    <p>{{ entity.content | raw }}</p>
                    {% if entity.getImages()|length > 0 %}
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                {% for image in entity.getImages() %}
                                    <div class="publication-image-container">
                                        <img class="publication-image-img img-responsive" src="{{ asset(image.getWebPath()) }}"">
                                        <div class="publication-image-caption">
                                            {{ image.description }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10 text-align-right">
                    {% if app.user and app.user.id == entity.user.id %}
                        {% include '::includes/disablePublicationButton.html.twig' with {'id': entity.id} %}
                    {% elseif app.user %}
                        {% include '::includes/addBlameButton.html.twig' with {'id': entity.id, 'type': 'publication'} %}
                    {% endif %}
                    {%  if app.user %}

                    <button class="label defaut-label like-unlike-button btn"
                            data-id="{{ entity.id }}"
                            onclick="util.likeOrUnlikePublication({{ entity.id }})"
                            {% if is_like(entity.id) %}
                            value="unlike"
                    >
                        {% trans %}publication.unlike{% endtrans %}
                        {% else %}
                            value="like"
                            >
                            {% trans %}publication.like{% endtrans %}
                        {% endif %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">

                    <h3>{% trans %}publication.comments{% endtrans %}</h3>
                    <div class="comment_block">
                        <div id="comment_content">
                        </div>
                    </div>
                    {% if app.user %}
                        <div>
                            {{ form(comment_form) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <span class="glyphicon glyphicon-chevron-down clickable wizard-load-comments" aria-hidden="true"></span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script id="comment-template" type="text/template">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <img src="<%= srcImg %>" class="img-profil">
                </div>
                <div class="col-xs-10">
                    <p class="message">
                        <%= message %>
                    </p>
                    <p class="time">
                        <%= username %>, le <%= time %>
                    </p>
                </div>
            </div>
        </div>
    </script>
    <script>
        var _$page = 1;

        function loadComment(data) {
            console.log(data);
            $.each(data['extra']['data'], function (index, value) {
                addComment(value);
            });
        }

        function loadMore() {
            _handler = function (data) {
                console.log(data);
                $.each(data['extra']['data'], function (index, value) {
                    addComment(value);
                });
            };
            $result = util.loadMore(
                    Routing.generate('comment_get', {'id': {{ entity.id }}, 'page': _$page}),
                    'GET',
                    _handler
            );
            _$page = _$page + 1;
        }

        loadMore();

        $('.wizard-load-comments').on('click', function () {
            loadMore();
        });


        function addComment(comment) {
            var $tpl = _.template($('#comment-template').html()),
                    $div = $('#comment_content');
            $div.append($tpl({
                srcImg: '{{ asset('uploads/profile/') }}' + comment.id + '/' + comment.pathProfile,
                message: comment[0].content,
                username: comment.username,
                time: comment[0].dateComment.date.substr(0, 19)
            }));
        }
    </script>
{% endblock %}
