<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <style>
            body{
                margin:0;
                padding:0;
            }
            div.nav{
                background-color:black;
            }
            #footer{
                background-color:black;
                padding:10px;
            }
            #footer a{
                margin:10px;
            }
            .nav div{
                display:inline-block;
                padding:10px;
                margin:0;
            }
            .nav div a{
            }
            #title-nav{
                margin:0;
                padding:0;
                width:19%;
                color:white;
            }
            #nav-link{
                margin:0;
                padding:0;
                width:59%;

            }
            #nav-user{
                padding:0;
                margin:0;
                width:19%;

            }
            #main{
                width:1024px;
                margin:auto;
                padding:50px;
            }
            .small_img{
                width:150px;
            }
        </style>

        <div class="nav" >
            <div id="title-nav">
                <h3>Wizard's Alley</h3>
            </div>
            <div id="nav-link">
                <a href="{{path('wizardalley_default_homepage')}}">{% trans %}wizard.menu.link.home{% endtrans %}</a>
                <a href="">{% trans %}wizard.menu.link.discover{% endtrans %}</a>
                <a href="">{% trans %}wizard.menu.link.blog{% endtrans %}</a>
                <a href="{{path('wizardalley_default_contact')}}">{% trans %}wizard.menu.link.contact{% endtrans %}</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="">{% trans %}wizard.menu.link.search{% endtrans %}</a>
                {% endif %}
            </div>
            <div id="nav-user">
                {% block userblock %}
                    {% if app.user %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                        <ul>
                            <li><a href="{{ path('fos_user_profile_show') }}">{{  app.user.username }}</a></li>
                            <li><a href="{{ path('wizardalley_user_wall',{id: app.user.id}) }}">{% trans %}wizard.menu.link.wall{% endtrans %}</a></li>
                            <li><a href="">{% trans %}wizard.menu.link.message{% endtrans %}</a></li>
                            <li><a href="">{% trans %}wizard.menu.link.notification{% endtrans %}</a></li>
                        </ul>
                    {% else %}
                        <a href="{{ path('wizardalley_user_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <div id="main">
        {% block body %}{% endblock %}
    </div>
    <div id="footer" >
        <a href="{{path('wizardalley_default_mention')}}">{% trans %}wizard.menu.link.mention_legal{% endtrans %}</a>
        <a href="{{path('wizardalley_default_confidentiality')}}">{% trans %}wizard.menu.link.confidentiality{% endtrans %}</a>
        <a href="{{path('wizardalley_default_copyright')}}">{% trans %}wizard.menu.link.copyright{% endtrans %}</a>

    </div>
{% block javascripts %}
<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script> 

{% endblock %}
</body>
</html>
