{% extends '::base.html.twig' %}

{% block head_extra_class %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
        head-discover
    {% endif %}
{% endblock %}
{% block title_banner %}
    {% if app.user %}
        <h2>{% trans %}wizard.discover.title{% endtrans %}</h2>
    {% else %}
        <h3>
            {% trans %}wizard.title.not-connected.discover1{% endtrans %}

        </h3>
        <h2>
            {% trans %}wizard.title.not-connected.discover2{% endtrans %}
        </h2>
        <h3>
            {% trans %}wizard.title.not-connected.discover3{% endtrans %}
        </h3>
    {% endif %}
{% endblock %}

{% block body_style %}
    {% if app.user %}url('{{ asset('images/discover-bg.jpg') }}'){% else %}url('{{ asset('images/bghome.jpg') }}'){% endif %}

{% endblock %}

{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.title.discover{% endtrans %}
{% endblock %}
{% block body %}

    <ul class="page-nav">
        <li id="news" class="active" onclick="letsnews()">Publications</li>
        <li id="vedette" onclick="letsvedette()">Explorer</li>
    </ul>

    <div class="page-row">

        <aside id="aside">
            <div class="col-md-12">

                <div class="panel panel-default categories-panel">
                    <div class="panel-body categories_pages">
                        <h3>{% trans %}wizard.category.name{% endtrans %}</h3>
                        <hr>
                        <div class="row">
                            {% for category in categories %}
                                <div class="col-md-12">
                                    <h4>
                                        <a href="{{ path('wizardalley_page_category', {category_id:category.id}) }}">
                                            {{ category.name }}
                                        </a>
                                    </h4>
                                    <p>{{ category.description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default list-wizards">
                    <div class="panel-body">
                        <h3>{% trans %}wizard.discover.favorite.page{% endtrans %}</h3>
                        <hr>
                        <div class="row">
                            <div id="fav_pages" class="col-xs-12">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                            <span class="glyphicon glyphicon-chevron-down clickable" aria-hidden="true"
                                  id="loadMorePage"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="panel panel-default favorite">
                    <div class="panel-body">
                        <h3>{% trans %}wizard.discover.favorite.publication{% endtrans %}</h3>
                        <hr>
                        <div class="row">
                            <div id="fav_publications" class="col-xs-12">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                            <span class="glyphicon glyphicon-chevron-down clickable" aria-hidden="true"
                                  id="loadMorePublication"></span>
                    </div>
                </div>
            </div>
        </aside>

        <section id="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>{% trans %}wizard.discover.last_publication{% endtrans %}</h2>
                            <hr>
                            <div id="discover-latest-publication-wrapper">

                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <span class="glyphicon glyphicon-chevron-down clickable" aria-hidden="true"
                                  id="loadMoreLatestPublication"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            _$pagePage = 1;
            _$pagePublication = 1;
            _$pageLatestPublication = 1;
            loadMorePage();
            $('#loadMorePage').on('click', function () {
                loadMorePage();
            });

            loadMorePublication();
            $('#loadMorePublication').on('click', function () {
                loadMorePublication();
            });

            loadMoreLatestPublication();
            $('#loadMoreLatestPublication').on('click', function () {
                loadMoreLatestPublication();
            });

            function loadMoreLatestPublication() {
                var _handler = function ($data) {
                    $('#discover-latest-publication-wrapper').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('publication_get_latest', {'page': _$pageLatestPublication}), 'GET', _handler);
                _$pageLatestPublication = _$pageLatestPublication + 1;
            }

            function loadMorePage() {
                var _handler = function ($data) {
                    $('#fav_pages').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_page', {'page': _$pagePage}), 'GET', _handler);
                _$pagePage = _$pagePage + 1;
            }

            function loadMorePublication() {
                var _handler = function ($data) {
                    $('#fav_publications').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_publication', {'page': _$pagePublication}), 'GET', _handler);
                _$pagePublication = _$pagePublication + 1;
            }

            function letsvedette() {
                document.getElementById('section').style.display = "none";
                document.getElementById('aside').style.display = "block";
                document.getElementById('news').className = "";
                document.getElementById('vedette').className = "active";
            }
            function letsnews() {
                document.getElementById('section').style.display = "block";
                document.getElementById('aside').style.display = "none";
                document.getElementById('news').className = "active";
                document.getElementById('vedette').className = "";
            }
        </script>
    {% endblock %}
