{% extends '::base.html.twig' %}

{% block title_banner %}
    <h1>
        {% trans %}wizard.discover.title{% endtrans %}
    </h1>
{% endblock %}

{% block body_style %}url('{{ asset('images/discover-bg.jpg')}}'){% endblock %}

{% block title %}
    {% trans %}wizard.title.discover{% endtrans %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>{% trans %}wizard.discover.favorite.page{% endtrans %}</h3>
                            <hr>
                            <div class="row">
                                <div id="fav_pages" class="col-xs-12">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <span class="glyphicon glyphicon-chevron-down clickable" aria-hidden="true"
                                  id="loadMorePage"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>{% trans %}wizard.discover.favorite.publication{% endtrans %}</h3>
                            <hr>
                            <div class="row">
                                <div id="fav_publications" class="col-xs-12">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <span class="glyphicon glyphicon-chevron-down clickable" aria-hidden="true"
                                  id="loadMorePublication"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{% trans %}wizard.category.name{% endtrans %}</h3>
                        </div>
                        {% for category in categories %}
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <h4>
                                        <a href="{{ path('wizardalley_page_category', {category_id:category.id}) }}">
                                            <strong>{% trans %}wizard.category.name{% endtrans %}
                                                :</strong> {{ category.name }}
                                        </a>
                                    </h4>
                                    <p>{{ category.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>{% trans %}wizard.discover.last_publication{% endtrans %}</h2>
                            <hr>
                            {{ render(controller('WizardalleyPublicationBundle:Publication:getLatestPublication')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            _$pagePage = 1;
            _$pagePublication = 1;
            loadMorePage();
            $('#loadMorePage').on('click', function () {
                loadMorePage();
            });

            loadMorePublication();
            $('#loadMorePublication').on('click', function () {
                loadMorePublication();
            });

            function loadMorePage() {
                var _handler = function ($data) {
                    $('#fav_pages').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_page', {'page': _$pagePage}), 'GET', _handler);
                _$pagePage = _$pagePage + 1;
            }
            ;

            function loadMorePublication() {
                var _handler = function ($data) {
                    $('#fav_publications').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_publication', {'page': _$pagePublication}), 'GET', _handler);
                _$pagePublication = _$pagePublication + 1;
            }
            ;


        </script>
    {% endblock %}
