{% extends "::base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img src="/uploads/page/category/{{ category.logo }}" alt="" class="img-responsive">
            </div>
            <div class="col-md-9">
                <h2><strong>{% trans %}wizard.category.name{% endtrans %}:</strong> {{ category.name }}</h2>
                <p>{{ category.description }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for page in pages %}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <img src="/uploads/page/profile/{{ page.pathProfile }}" alt="">
                        </div>
                        <div class="col-xs-12">
                            <h3><a href="{{ path('page_show', {id_page: page.id}) }}">{{ page.name }}</a></h3>
                            <p>{{ page.description | raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
