{% extends '::base.html.twig' %}

{% block body_style %}url('{{ asset('images/street.png') }}'){% endblock %}

{% block body %}
    <div class="row">
        <br>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans %}wizard.home.user_online{% endtrans %}</h3>
                    <hr>
                    <div class="last-connected-wrapper">
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <span class="glyphicon glyphicon-chevron-down clickable refresh-last-connected-commented"
                          aria-hidden="true"></span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans %}wizard.home.most_commented{% endtrans %}</h3>
                    <hr>
                    <div class="most-commented-block-wrapper">

                    </div>
                </div>
                <div class="panel-footer text-center">
                        <span class="glyphicon glyphicon-chevron-down clickable load-more-most-commented"
                              aria-hidden="true"></span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans %}wizard.home.informations{% endtrans %}</h3>
                    <hr>
                    <div class="information-block-wrapper">

                    </div>
                </div>
                <div class="panel-footer text-center">
                        <span class="glyphicon glyphicon-chevron-down clickable load-more-information"
                              aria-hidden="true"></span>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{% trans %}wizard.home.express_yourself{% endtrans %}</h2>
                    <hr>
                    {{ form_start(formSmallPublication, { attr: {id: 'wizardalley_publicationbundle_add_small_publication'}}) }}
                    {{ form_row(formSmallPublication.content) }}
                    {{ form_row(formSmallPublication.submit) }}

                    {{ form_end(formSmallPublication) }}
                    <h3>{% trans %}wizard.home.your_publication{% endtrans %}</h3>
                    <div class="publication-block-wrapper">
                    </div>
                </div>
                <div class="panel-footer text-center">
                            <span class="glyphicon glyphicon-chevron-down clickable load-more-publication"
                                  aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        _$page = 1;
        _$pageInformation = 1;
        _$pageMostCommented = 1;
        loadMore();
        loadMoreInformation();
        loadMoreMostCommented();
        refershOnlineUser();

        $('.load-more-most-commented').on('click', function () {
            loadMoreMostCommented();
        });
        $('.refresh-last-connected-commented').on('click', function () {
            refershOnlineUser();
        });
        $('.load-more-publication').on('click', function () {
            loadMore();
        });
        $('.load-more-information').on('click', function () {
            loadMoreInformation();
        });

        function loadMore() {
            $result = util.loadMorePublicationHome(_$page);
            _$page = _$page + 1;
        }
        ;

        function refershOnlineUser() {
            var handler = function (_data) {
                $('.last-connected-wrapper').html(_data['extra']['html']);
            };
            util.loadMore(Routing.generate('wizard_last_connected_list'), 'GET', handler);
        }

        function loadMoreInformation() {
            $result = util.loadMoreInfo(_$pageInformation);
            _$pageInformation = _$pageInformation + 1;
        }
        ;
        function loadMoreMostCommented() {
            $result = util.loadMoreMostCommented(_$pageMostCommented);
            _$pageMostCommented = _$pageMostCommented + 1;
        }
        ;

        $('#wizardalley_publicationbundle_add_small_publication').on('submit', function (e) {
            e.preventDefault();
            result = util.ajaxHandle($(this).attr('method'), $(this).serialize(), $(this).attr('action'));
            $('#wizardalley_publicationbundle_add_small_publication textarea').val('');
        });

    </script>
{% endblock %}
