{% extends '::base.html.twig' %}

{% block head_extra_class %}head-search{% endblock %}

{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.menu.link.search{% endtrans %}
{% endblock %}


 {% block body_style %}url('{{ asset('images/background-search.jpg') }}'){% endblock %}
{% block title_banner %}
    <h1>
        {% trans %}wizard.title.search{% endtrans %}
    </h1>
{% endblock %}

{% block body %}
    <div class="page-row">
        <div class="notifications">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-left">{% trans %}wizard.utility.search{% endtrans %}</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                {{ form_start(form) }}
                                <div class="col-md-4 col-xs-12">
                                    {{ form_row(form.searchType) }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ form_row(form.field) }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ form_row(form.submit) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                        <hr>
                        <div class="col-xs-12" id="wizard_search_result"></div>
                        <div class="col-xs-12 text-right">
                            <button class="load-more-search">{% trans %}wizard.utility.load_more{% endtrans %}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-left">{% trans %}wizard.search.online_wizard{% endtrans %}</h3>
                            <hr>
                        </div>
                        <div class="col-xs-12" id="wizard_search_online_result"></div>
                        <div class="col-xs-12 text-right">
                            <button class="load-more-online-search">{% trans %}wizard.utility.load_more{% endtrans %}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-left">{% trans %}wizard.search.all_wizard{% endtrans %}</h3>
                            <hr>
                        </div>
                        <hr>
                        <div class="col-xs-12" id="wizard_search_all_result"></div>
                        <div class="col-xs-12 text-right">
                            <button class="load-more-all-search">{% trans %}
                                wizard.utility.load_more{% endtrans %}</button>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-left">{% trans %}wizard.search.all_community{% endtrans %}</h3>
                            <hr>
                        </div>
                        <hr>
                        <div class="col-xs-12" id="wizard_search_all_community_result"></div>
                        <div class="col-xs-12 text-right">
                            <button class="load-more-all-community-search">{% trans %}
                                wizard.utility.load_more{% endtrans %}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var field = null,
                researchType = null,
                _$page = 1,
                _$pageOnline = 1,
                _$pageCommunityAll = 1,
                _$pageAll = 1;
        $('form').submit(function (event) {
            _$page = 1;
            event.preventDefault();
            field = $('#wizard_search_form_field').val();
            researchType = $('#wizard_search_form_searchType').val();
            $('#wizard_search_result').html('');
            loadMore();
        });

        $('button.load-more-search').on('click', function () {
            loadMore();
        });
        $('button.load-more-all-search').on('click', function () {
            loadMoreAll();
        });
        $('button.load-more-online-search').on('click', function () {
            loadMoreOnline();
        });
        $('button.load-more-all-community-search').on('click', function () {
            loadMoreAllCommunity();
        });

        $('#wizard_search_form_searchType').on('change', function () {
            $('#wizard_search_result').html('');
            _$page = 1;
        });

        function loadMore() {
            util.loadMoreSearch(researchType, field, _$page);
            _$page = _$page + 1;
        }
        ;

        function loadMoreAll() {
            var _handler = function ($data) {
                $('#wizard_search_all_result').append($data['extra']['html']);
            };
            util.loadMore(Routing.generate('wizardalley_search_all_user', {'page': _$pageAll}), 'GET', _handler);
            _$pageAll = _$pageAll + 1;
        }
        ;
        function loadMoreAllCommunity() {
            var _handler = function ($data) {
                $('#wizard_search_all_community_result').append($data['extra']['html']);
            };
            util.loadMore(Routing.generate('wizardalley_search_all_community', {'page': _$pageCommunityAll}), 'GET', _handler);
            _$pageCommunityAll = _$pageCommunityAll + 1;
        }
        ;
        function loadMoreOnline() {
            var _handler = function ($data) {
                $('#wizard_search_online_result').append($data['extra']['html']);
            };
            util.loadMore(Routing.generate('wizardalley_search_online_page', {'page': _$pageOnline}), 'GET', _handler);
            _$pageOnline = _$pageOnline + 1;
        }
        ;
        loadMoreAll();
        loadMoreOnline();
        loadMoreAllCommunity();

    </script>
{% endblock %}