{% extends 'WizardalleyPublicationBundle:GestionPage:template.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{asset('jquery-ui/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{asset('jquery-ui/jquery-ui.theme.min.css')}}">
    <link rel="stylesheet" href="{{asset('jquery-ui/jquery-ui.structure.min.css')}}">
{% endblock %}

{% block gestion %}
    {{ tinymce_init() }}
    <h1>Publication creation</h1>

<form action="{{path('publication_create',{'id_page': page.id })}}" method="POST" {{ form_enctype(form) }}>
    {# affiche l'unique champ de la tâche : description #}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}

    <h3>Images</h3>
    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
        {% for image in form.images %}
            <li>{{ form_row(image.file) }}</li>
            <li>{{ form_row(image.description) }}</li>
        {% endfor %}
    </ul>

    {{ form_rest(form) }}
    
    
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        var collectionHolder = $('ul.images');

        var $addImgLink = $('<a href="#" class="add_image_link">Ajouter une image</a>');
        var $newLinkLi = $('<li></li>').append($addImgLink);

        jQuery(document).ready(function() {
            collectionHolder.append($newLinkLi);

            $addImgLink.on('click', function(e) {
                e.preventDefault();

                addImgForm(collectionHolder, $newLinkLi);
            });
        });
        
        function addImgForm(collectionHolder, $newLinkLi) {
            var prototype = collectionHolder.attr('data-prototype');

            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addImgFormDeleteLink($newFormLi);
        }
        function addImgFormDeleteLink($imgFormLi) {
            var $removeFormA = $('<a href="#">Supprimer cette image</a>');
            $imgFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // supprime l'élément li pour le formulaire de tag
                $imgFormLi.remove();
            });
        }
    </script>
{% endblock %}
