<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_registration_register">
    <div id="fos_user_registration_form padding-bottom">

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.sexe) }}
        {{ form_row(form.alpha_code) }}
        {{ form_row(form.accept_cgv) }}
        <div class="text-center">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#confidentialityModal">
                {% trans %}wizard.register.read_cgv{% endtrans %}
            </button>
        </div>
        {{ form_end(form) }}
        <div class="margin-top">
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="confidentialityModal" role="dialog">
    <div class="modal-dialog modal-confidentiality">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    {% trans %}wizard.menu.link.mention_legal{% endtrans %}
                </h4>
            </div>
            <div class="modal-body">
                {% include '::includes/confidentiality-text.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% trans %}wizard.utility.close{% endtrans %}
                </button>
            </div>
        </div>

    </div>
</div>
