

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>{% trans %}wizard.user.change_password{% endtrans %}</h3>
        <hr>
        <button class="btn label">
            <a href="{{ path('fos_user_profile_show') }}">
                {% trans %}wizard.utility.back{% endtrans %}
            </a>
        </button>
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>

    </div>
</div>