{% extends 'WizardalleyAdminBundle::adminBase.html.twig' %}


{% block body_admin -%}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% set title = 'wizard.table.' ~ name ~ '.title' %}
            <h3>{{  title|trans() }}{% block headerAdmin %}{% endblock %}</h3>

        </div>
        <div class="panel-body">
            <div id="wizardDataTable">

                <table class="table table-striped table-bordered"
                       cellspacing="0" width="100%"
                       data-datatable-option="{{ config['datatable']|json_encode() }}"
                       data-yadcf-datatable-option="{{ config['yadcf']|json_encode() }}"
                >
                    <thead>
                    <tr>
                        {% for column in config['column'] %}
                            <th>{{ column.label }}</th>
                        {% endfor %}
                        {% if config['action'] is defined %}
                            {% for action in config['action'] %}
                                <th>{{ action.label }}</th>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-wizard">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {%  block tableTemplate %}
        <script type="text/template" class="template-render-column">
            <p><%- data %></p>
        </script>
        <script type="text/template" class="template-render-action">
            <a href="<%- href %>">
                <span class="icon-large <%- icon %>"></span>
            </a>
        </script>
        <script type="text/template" class="template-render-button-modal">
            <a class="link-modal"
                href="#delete-page"
                data-data="<%- data %>"
                data-action="<%- action %>"
                data-template="<%- template %>"
                data-title="<%- title %>"
            >
                <span class="icon-large <%- icon %>"></span>
            </a>
        </script>
        <script type="text/template" class="template-render-modal">
            Modal
        </script>
    {%  endblock %}
    {%  block tableTemplateExtra %}
    {%  endblock %}

{% endblock %}
