{% extends "::base.html.twig" %}

{% block body %}
    <div class="row" style="background-image: url('{{asset(user.getPictureCouverture)}}');background-size:100% 100%;background-repeat:no-repeat;height: 30vw;">
        <div class="row" style="margin-top:20%;">
            <div class="col-md-2">
                <div class="imgSquare " >
                    <div class="imgSquareContainer">
                        <img src="{{asset(user.getPictureProfile())}}" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" >
            <h3>{{user.username}}</h3>
            {% if app.user %}
                {% if app.user.id == user.id %}
                    <h6>
                        <a href="{{path('wizardalley_user_couverture_edit_picture')}}">{% trans %}wizard.user.profile.edit_picture_wall{% endtrans %}</a>
                    </h6>
                {% endif %}
            {% endif %}

            {% if user.facebook != null %}
                <a href="{{user.facebook}}" /><span class="icon-large icon-facebook" aria-hidden="true"></span></a>
            {% endif %}
            {% if user.twitter != null %}
                <a href="{{user.twitter}}" /><span class="icon-large icon-twitter" aria-hidden="true"></span></a>
            {% endif %}

            {% if app.user %}
                {% if app.user.id != user.id %}
                    {% if app.user.isFriend(user)  %}
                        <div >{% trans %}wizard.wall.friend{% endtrans %}</div>
                    {% elseif app.user.askedAsAFriend(user) %}
                        <div>Demande en cours</div>
                    {% elseif app.user.askingForFriendship(user) %}
                        <div><a href="{{path('wizard_add_as_a_friend', {id_user: user.id})}}">Demande d'amitié, confirmer la demande</a></div>
                    {% else %}
                        <a href="{{path('wizard_add_as_a_friend', {id_user: user.id})}}" >Ajouter en tant qu'amis</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-12" >
            <h3>Publication</h3>
            <div id="my_publication">

            </div>
            <div >
                <button id="loadMorePublication" >More</button>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        _$page = 1;
        loadMore();
        $('#loadMorePublication').on('click', function(){
            loadMore();
        });


        function loadMore(){
            var _handler = function($data){
                $('#my_publication').append($data['extra']['html']);
            };
            $result = util.loadMore(Routing.generate('wizardalley_user_wall_publication', {'page': _$page}), 'GET', _handler);
            _$page = _$page+1;
        };

        function addPublication($data){
            $('#my_publication').append($data['extra']['html']);
        };


    </script>
{% endblock %}
