{% for publication in publications %}
    <div class="publication">
        <div class="row ">
            <div class="col-xs-2">

                <div class="imgSquare">
                    <div class="imgSquareContainer circle">
                        {% if publication.type == 'page_publication' %}
                            <img class="circle"
                                 src="{{ asset('uploads/page/profile/' ~ publication.path_profile) }}"/>
                        {% else %}
                            {% if publication.path_profile %}
                                <img class="circle"
                                     src="{{ asset('uploads/profile/'~publication.writer_id ~ '/' ~ publication.path_profile) }}"/>
                            {% else %}
                                <img class="circle" src="{{ asset('uploads/profile/default.png') }}"/>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                {% if publication.type == 'page_publication' %}
                    <p class="lead">
                        <a href="{{ path('publication_show',{'id':publication.publication_id}) }}">{{ publication.title }}</a>
                    </p>
                {% endif %}
                <p class="lead">
                    {% if publication.type == 'page_publication' %}
                        <a href="{{ path('page_show', {'id_page': publication.writer_id}) }}">{{ publication.name }}</a>
                    {% else %}
                        <a href="{{ path('wizardalley_user_wall', {'id': publication.writer_id}) }}">{{ publication.name }}</a>
                    {% endif %}
                </p>
                <p>{{ publication.created_at | date('d/m/Y') }}
                    - {{ publication.created_at | date('H:i:s') }}</p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                {% if publication.type == 'page_publication' %}
                    <p>{{ publication.content | raw }}</p>
                {% else %}
                    <p>{{ publication.content }}</p>
                {% endif %}


            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-align-right">
                <button class="label defaut-label btn">

                    {% if publication.type == 'page_publication' %}
                        <a href="{{ path('publication_show',{'id':publication.publication_id}) }}">{% trans %}
                            publication.display.link{% endtrans %}</a>
                    {% else %}
                        <a href="{{ path('user_small_publication_show',{'id':publication.publication_id}) }}">{% trans %}
                            publication.display.link{% endtrans %}</a>
                    {% endif %}
                </button>
                <button class="label defaut-label btn">
                    {% trans %}publication.comments{% endtrans %}
                </button>
                {% if publication.type == 'page_publication' %}
                    <button class="label defaut-label like-unlike-button btn"
                            data-id="{{ publication.publication_id }}"
                            onclick="util.likeOrUnlikePublication({{ publication.publication_id }})"
                        {% if is_like(publication.publication_id) %}
                            value="unlike"
                            >
                            {% trans %}publication.unlike{% endtrans %}
                        {% else %}
                            value="like"
                            >
                            {% trans %}publication.like{% endtrans %}
                        {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>

    </div>
{% endfor %}