{% extends "::base.html.twig" %}

{% block body_style %}url('{{ asset(user.getPictureCouverture) }}'){% endblock %}

{% block head_extra_class %}head-profile{% endblock %}


{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans with {'%username%': user.username} from "messages" %}wizard.title.wall{% endtrans %}
    {{ user.username }}
{% endblock %}

{% block title_banner %}
    <div class="imgSquare circle">
        <div class="imgSquareContainer">
            <img src="{{ asset(user.getPictureProfile()) | imagine_filter('small_thumb') }}"/>
        </div>
    </div>
    <h1>
        {{ user.username }}
    </h1>
    <h2>
        {{ user.smallDescription }}
    </h2>
{% endblock %}

{% block body %}
    {% if user.locked == true %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">{% trans %}wizard.user.wall.disabled{% endtrans %}</h3>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>
                                            {% trans %}wizard.user.profile.about{% endtrans %}
                                        </h3>
                                        {% if app.user %}
                                            {% if app.user.id != user.id %}
                                                {% if app.user.isFriend(user) %}
                                                    <div><h4>{% trans %}wizard.wall.friend{% endtrans %}</h4></div>
                                                {% elseif app.user.askedAsAFriend(user) %}
                                                    <div>{% trans %}wizard.wall.ask_ongoing{% endtrans %}</div>
                                                {% elseif app.user.askingForFriendship(user) %}
                                                    <div><a href="{{ path('wizard_add_as_a_friend', {id_user: user.id}) }}">Demande
                                                            d'amitié,
                                                            confirmer la demande</a></div>
                                                {% else %}
                                                    <a href="{{ path('wizard_add_as_a_friend', {id_user: user.id}) }}">Ajouter
                                                        en tant
                                                        qu'amis</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        <hr>
                                        <h4>{{ user.smallDescription }}</h4>
                                        <p>
                                            {{ user.description }}
                                        </p>
                                        <div class="row">
                                            {% if user.facebook != null %}
                                                <div class="col-md-6 col-xs-12">
                                                    <a href="https://www.facebook.com/{{ user.facebook }}">
                                        <span class="icon-large icon-facebook"
                                              aria-hidden="true"></span>&nbsp;https://www.facebook.com/{{ user.facebook }}
                                                    </a>
                                                </div>
                                            {% endif %}
                                            {% if user.twitter != null %}
                                                <div class="col-md-6 col-xs-12">
                                                    <a href="https://twitter.com/{{ user.twitter }}">
                                        <span class="icon-large icon-twitter"
                                              aria-hidden="true"></span>&nbsp;https://twitter.com/{{ user.twitter }}
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="fos_user_user_show">
                                            <p>{% trans %}wizard.user.profile.last_login{% endtrans %}
                                                :&nbsp;{{ user.lastLogin|localizeddate('full', 'none') }} {{ user.lastLogin|date("H:i") }}</p>
                                        </div>
                                        {% if app.user %}
                                            {% if app.user.id == user.id %}
                                                <h6>
                                                    <a href="{{ path('wizardalley_user_couverture_edit_picture') }}">{% trans %}
                                                        wizard.user.profile.edit_picture_wall{% endtrans %}</a>
                                                </h6>
                                            {% endif %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                                                {% if app.user %}
                                                    <div class="margin-bottom-middle">
                                                        {% include '::includes/addBlameButton.html.twig' with {'id': user.id, 'type': 'user'} %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <h3>{% trans %}wizard.user.profile.title.friend_list{% endtrans %}</h3>
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <div class="row" id="div_friend"
                                         prototype='<div class="col-sm-4 col-md-6 col-xs-6"><a href="{{ path("wizardalley_user_wall") }}/__id__"><div class="imgSquare circle"><div class="imgSquareContainer "><img src="/uploads/profile/__picture__"></div></div><h4 class="imgTitre">__title__</h4></a></div>'>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <span class="glyphicon glyphicon-chevron-down clickable load-more-publication"
                                      onClick="loadMoreFriends()" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <h3>{% trans %}wizard.user.profile.title.page_followed{% endtrans %}</h3>
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <div class="row" id="div_page_followed"
                                         prototype='<div class="col-sm-4 col-md-6 col-xs-6"><a href="{{ path("page_show", {id_page: '__id__'}) }}"><div class="imgSquare circle"><div class="imgSquareContainer circle"><img src="/uploads/page/profile/__picture__"><h4 class="imgTitre">__title__</h4></div></div></a></div>'>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <span class="glyphicon glyphicon-chevron-down clickable load-more-publication"
                                      onClick="loadMorePageFollowed()" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <h3>{% trans %}wizard.user.profile.title.page_creator{% endtrans %}</h3>
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <div class="row" id="div_page_created"
                                         prototype='<div class="col-sm-4 col-md-6 col-xs-6"><a href="{{ path("page_show", {id_page: '__id__'}) }}"><div class="imgSquare circle"><div class="imgSquareContainer circle"><img src="/uploads/page/profile/__picture__"><h4 class="imgTitre">__title__</h4></div></div></a></div>'>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <span class="glyphicon glyphicon-chevron-down clickable load-more-publication"
                                      onClick="loadMorePageCreated()" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{% trans %}wizard.user.wall.publication{% endtrans %}</h3>
                        <hr>
                        <div id="my_publication"></div>
                    </div>
                    <div class="panel-footer text-center">
                        <span class="glyphicon glyphicon-chevron-down clickable" id="loadMorePublication"
                              aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        _$page = 1;
        $pagePageFollowed = 1;
        $pageFriends = 1;
        $pageCreated = 1;
        loadMorePageFollowed();
        loadMoreFriends();
        loadMorePageCreated();
        loadMore();
        $('#loadMorePublication').on('click', function () {
            loadMore();
        });


        function loadMore() {
            var _handler = function ($data) {
                $('#my_publication').append($data['extra']['html']);
            };
            $result = util.loadMore(
                    Routing.generate('wizardalley_user_wall_publication',
                            {'user': {{ user.id }}, 'page': _$page}
                    ),
                    'GET',
                    _handler
            );
            _$page = _$page + 1;
        };

        function addPublication($data) {
            $('#my_publication').append($data['extra']['html']);
        };

        function loadMorePageFollowed() {
            var _handler = function (data) {
                var $divPageFollowed = $('#div_page_followed');
                $.each(data['data'], function (index, item) {
                    $prototype = $divPageFollowed.attr('prototype');
                    $div = $prototype.replace('__id__', item.p_id);
                    if (item.p_pathProfile != null && item.p_pathProfile != "") {
                        $div = $div.replace('__picture__', item.p_pathProfile);
                    } else {
                        $div = $div.replace('__picture__', 'default.png');
                    }
                    $div = $div.replace('__title__', item.p_name);
                    $divPageFollowed.append($div);
                });
            };
            $result = util.loadMore(Routing.generate('page_user_followed_get', {
                'user': {{ user.id }},
                'page': $pagePageFollowed
            }), 'GET', _handler);
            $pagePageFollowed = $pagePageFollowed + 1;
        };

        function loadMoreFriends() {
            var _handler = function (data) {
                var $divFriend = $('#div_friend');
                $.each(data['data'], function (index, item) {
                    $prototype = $divFriend.attr('prototype');
                    $div = $prototype.replace('__id__', item.id);
                    if (item.path_profile != null && item.path_profile != "") {
                        $div = $div.replace('__picture__', item.id + '/' + item.path_profile);
                    } else {
                        $div = $div.replace('__picture__', 'default.png');
                    }
                    $div = $div.replace('__title__', item.username);
                    $divFriend.append($div);
                });
            }
            $result = util.loadMore(Routing.generate('wizard_get_friends_json', {
                'user': {{ user.id }},
                'page': $pageFriends
            }), 'GET', _handler);
            $pageFriends = $pageFriends + 1;
        };


        function loadMorePageCreated() {
            var $divPageCreated = $('#div_page_created');
            var _handler = function (data) {
                $.each(data['data'], function (index, item) {
                    $prototype = $divPageCreated.attr('prototype');
                    $div = $prototype.replace('__id__', item.p_id);
                    if (item.p_pathProfile != null && item.p_pathProfile != "") {
                        $div = $div.replace('__picture__', item.p_pathProfile);
                    } else {
                        $div = $div.replace('__picture__', 'default.png');
                    }
                    $div = $div.replace('__title__', item.p_name);
                    $divPageCreated.append($div);
                });
            };
            $result = util.loadMore(Routing.generate('page_user_created_get', {'user': {{ user.id }}, 'page': $pageCreated}), 'GET', _handler);
            $pageCreated = $pageCreated + 1;
        };


    </script>
{% endblock %}
