{% extends 'WizardalleyAdminBundle::adminBase.html.twig' %}

{% block body_admin -%}
    <div class="row">
        <div class="col-md-12">
            <h3>Edition de l'utilisateur: {{ user.username }}</h3>
            {% if user.hasRole('ROLE_ADMIN') %}
                <p class="alert alert-warning">L'utilisateur est un administrateur</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Information de base</h4>
        </div>
        <div class="col-md-6">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Prénom:</strong> {{ user.firstname }}</p>
            <p><strong>Nom:</strong> {{ user.lastname }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Sexe:</strong> {% if user.sexe==0 %}Homme{% else %}Femme{% endif %}</p>
            <p><strong>Dernière connexion:</strong> {{ user.lastLogin|date('Y-m-d H:i:s') }}</p>
            <p><strong>Facebook:</strong> {{ user.facebook }}</p>
            <p><strong>Twitter:</strong> {{ user.twitter }}</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <strong>Image de profile</strong>
                    <img class="img-responsive" src="{{ asset(user.getWebPathProfile()) }}"/>
                </div>
                <div class="col-md-6">
                    <strong>Couverture de profile</strong>
                    <img class="img-responsive" src="{{ asset(user.getWebPathCouverture()) }}"/>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Information supplémentaires</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre de page suivi </strong><span class="pull-right">{{ user.getPageFollowedEntity()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_page_followed', {'userId': user.getId}) }}"
                            data-template="template-render-page-followed"
                    >Liste des pages suivi</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre d'amis</strong><span class="pull-right">{{ user.friendsWithMe()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_friends', {'userId': user.getId}) }}"
                            data-template="template-render-friend"
                    >Liste des amis</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre de page créer</strong><span class="pull-right">{{ user.pagesCreated()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_page_created', {'userId': user.getId}) }}"
                            data-template="template-render-page-followed"
                    >Liste des page créer</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre de page éditeur</strong><span class="pull-right">{{ user.pagesEditor()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_page_editor', {'userId': user.getId}) }}"
                            data-template="template-render-page-followed"
                    >Liste des page éditeur</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 table-information"></div>
    </div>



{%  endblock %}


{% block javascripts %}
    {{parent()}}
    <script src="/assets/js/plugins/user-edit.js"></script>
    <script type="text/template" class="template-render-friend">
        <table class="table">
            <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Lien</th>
            </thead>
            <tbody>
            <%_.each(data,function(item,key,list){ %>
            <tr>
                <td><%= item.firstname %></td>
                <td><%= item.lastname %></td>
                <td><%= item.email %></td>
                <td><%= item.id %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/template" class="template-render-page-followed">
        <table class="table">
            <thead>
            <th>Nom</th>
            <th>Lien</th>
            </thead>
            <tbody>
            <%_.each(data,function(item,key,list){ %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.id %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>
{% endblock %}