{% extends '@EasyAdmin/default/edit.html.twig' %}


{% block main %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>Information supplémentaires</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre de page suivi </strong><span class="pull-right">{{ entity.getPageFollowedEntity()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_page_followed', {'userId': entity.getId}) }}"
                            data-template="template-render-page-followed"
                    >Liste des pages suivi</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre d'amis</strong><span class="pull-right">{{ entity.friendsWithMe()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_friends', {'userId': entity.getId}) }}"
                            data-template="template-render-friend"
                    >Liste des amis</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre de page créer</strong><span class="pull-right">{{ entity.pagesCreated()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_page_created', {'userId': entity.getId}) }}"
                            data-template="template-render-page-followed"
                    >Liste des page créer</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nombre de page éditeur</strong><span class="pull-right">{{ entity.pagesEditor()|length }}</span></p>
                </div>
                <div class="col-md-6">
                    <button class="list-button"
                            data-url="{{ path('admin_user_list_page_editor', {'userId': entity.getId}) }}"
                            data-template="template-render-page-followed"
                    >Liste des page éditeur</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 table-information"></div>
    </div>
{% endblock %}


{% block body_javascript %}
    {{parent()}}
    <script src="/assets/js/underscore.min.js"></script>
    <script src="/assets/js/plugins/admin-manager.js"></script>
    <script src="/assets/jquery-ui/jquery-ui.js"></script>
    <script src="/assets/js/plugins/user-edit.js"></script>
    <script type="text/template" class="template-render-friend">
        <table class="table">
            <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Lien</th>
            </thead>
            <tbody>
            <%_.each(data,function(item,key,list){ %>
            <tr>
                <td><%= item.firstname %></td>
                <td><%= item.lastname %></td>
                <td><%= item.email %></td>
                <td><%= item.id %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/template" class="template-render-page-followed">
        <table class="table">
            <thead>
            <th>Nom</th>
            <th>Lien</th>
            </thead>
            <tbody>
            <%_.each(data,function(item,key,list){ %>
            <tr>
                <td><%= item.name %></td>
                <td><a href="{{ path('easyadmin', {'action': 'edit', 'entity': 'Page'}) }}&id=<%= item.id %>">Lien</a></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>
{% endblock %}