{% for pubFav in publications %}
    <div class="publication">
        <div class="row ">
            <div class="col-md-12">
                <h2><a href="{{ path('publication_show',{'id': pubFav.publication.id }) }}">{{ pubFav.publication.title }}</a></h2>
                <h3>Par
                    <a href="{{ path('wizardalley_user_wall',{'id': pubFav.publication.user_id}) }}">{{ pubFav.publication.username }}</a>,le {{ publication.datePublication | date('Y-m-d') }}
                    à {{ pubFav.publication.datePublication | date('H:i:s') }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ pubFav.publication.small_content | raw }}</p>
            </div>
        </div>
    </div>
{% endfor %}