{% for notification in notifications %}
    <div class="col-xs-4 col-sm-3 col-lg-2">
        <div class="
        {% if notification.checked %}notification-viewed{% else %}notification-not-viewed{% endif %}"
        >
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            {% if notification.type == 'publication' %}
                                <div class="imgSquare circle">
                                    <div class="imgSquareContainer circle" >
                                        <img src="{{ asset( image_profile_page_id(notification.getData.page_id)| imagine_filter('small_thumb') ) }}" />
                                    </div>
                                </div>

                            {% elseif notification.type == 'message' %}
                                <div class="imgSquare circle">
                                    <div class="imgSquareContainer circle" >
                                        <img src="{{ asset( image_profile_page_id(notification.getData.sender_id)| imagine_filter('small_thumb') ) }}" />
                                    </div>
                                </div>
                            {% elseif notification.type == 'answer_ask_friend' %}
                                <div class="imgSquare circle">
                                    <div class="imgSquareContainer circle" >
                                        <img src="{{ asset( image_profile_page_id(notification.getData.asked_from) | imagine_filter('small_thumb')) }}" />
                                    </div>
                                </div>
                            {% elseif notification.type == 'ask_friend' %}
                                <div class="imgSquare circle">
                                    <div class="imgSquareContainer circle" >
                                        <img src="{{ asset( image_profile_page_id(notification.getData.asked_from) | imagine_filter('small_thumb')) }}" />
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    {% if notification.type == 'publication' %}
                        {% trans with {
                        '%page_link%': path('page_show', {id_page: notification.getData.page_id}),
                        '%page_name%': notification.getData.page_name,
                        '%publication_link%': path('user_notification_follow', {idNotification: notification.id}),
                        '%publication_name%': notification.getData.publication_title
                        } %}wizard.notification.page_publication{% endtrans %}&nbsp;
                    {% elseif notification.type == 'message' %}
                        {% trans with {
                        '%user_link%': path('wizardalley_user_wall', {id: notification.getData.sender_id}),
                        '%user_name%': notification.getData.sender_name,
                        '%thread_link%': path('user_notification_follow', {idNotification: notification.id}),
                        '%thread_name%': notification.getData.thread_name
                        } %}wizard.notification.user_message{% endtrans %}&nbsp;
                    {% elseif notification.type == 'ask_friend' %}
                        {% trans with {
                        '%user_link%': path('wizardalley_user_wall', {id: notification.getData.asked_from}),
                        '%user_name%': notification.getData.asked_from_username,
                        } %}wizard.notification.ask_as_friend{% endtrans %}
                        <a href="{{ path('wizard_validate_friend', {id: notification.id}) }}">
                            {% trans %}wizard.notification.ask_as_friend_valid{% endtrans %}
                        </a>
                    {% elseif notification.type == 'answer_ask_friend' %}
                        {% trans with {
                        '%user_link%': path('user_notification_follow', {idNotification: notification.id}),
                        '%user_name%': notification.getData.asked_from_username,
                        } %}wizard.notification.answer_ask_friend{% endtrans %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}