{% extends 'WizardalleyAdminBundle::adminBase.html.twig' %}

{% block body_admin -%}
    <h1>InformationBillet list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set last_id = 0 %}
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_infoBillet_show', { 'id': entity.item_id }) }}">{{ entity.item_id }}</a></td>
                <td>{{ entity.item_name }}</td>
                <td>{{ entity.item_content }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_infoBillet_show', { 'id': entity.item_id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_infoBillet_edit', { 'id': entity.item_id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
            {% set last_id = entity.item_id %}
        {% endfor %}
        </tbody>
    </table>

        <button class="btn-load-more-entity" data-last-id="{{last_id}}" data-entity-type="_billet">
            Load more
        </button>
        <ul>
        <li>
            <a href="{{ path('admin_infoBillet_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
