{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div >
                <h3>Exprimez vous</h3>
                {{ form_start(formSmallPublication, { attr: {id: 'wizardalley_publicationbundle_add_small_publication'}}) }}
                    {{ form_row(formSmallPublication.content) }}
                    {{ form_row(formSmallPublication.submit) }}

                {{ form_end(formSmallPublication) }}
            </div>
            <div>
                <h3>Vos publications</h3>
                <div id="my_publication">
                    
                </div>
                <div >
                    <button id="loadMorePublication" >More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Suggestion d'amis</h3>
            </div>
            <div>
                <h3>Sujet les plus commentés</h3>
            </div>
            <div>
                <h3>Information</h3>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
        {{parent()}}
    <script>
        _$page = 1;
        loadMore();
        $('#loadMorePublication').on('click', function(){
            loadMore();
        });
        
        function loadMore(){
            $result = util.loadMore(Routing.generate('wizard_get_publication_view', {'page': _$page}), 'GET', 'addPublication');
            _$page = _$page+1;
        };
        
        function addPublication($data){
            $('#my_publication').append($data['extra']['html']);
        }
        
        $('#wizardalley_publicationbundle_add_small_publication').on('submit', function(e){
            e.preventDefault();
            result = util.ajaxHandle($(this).attr('method'),$(this).serialize(), $(this).attr('action') );
            $('#wizardalley_publicationbundle_add_small_publication textarea').val('');
        });
        
        
    </script>
{% endblock %}
