{% extends '::base.html.twig' %}

{% block title_banner %}
    <div class="col-md-12 text-center">
        <h1>{% trans %}wizard.discover.title{% endtrans %}</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        {% trans %}wizard.discover.team_choice{% endtrans %}
                    </h2>
                </div>
                <div class="col-md-12 jumbotron">
                    <h3>{% trans %}wizard.discover.favorite.page{% endtrans %}</h3>
                    <div id="fav_pages" class="row">
                    </div>
                    <div>
                        <button id="loadMorePage">More</button>
                    </div>
                </div>
                <div class="col-md-12 jumbotron">
                    <h3>{% trans %}wizard.discover.favorite.publication{% endtrans %}</h3>
                    <div id="fav_publications" class="row">
                    </div>
                    <div>
                        <button id="loadMorePublication">More</button>
                    </div>
                </div>
                <div class="col-md-12 jumbotron">
                    <h3>{% trans %}wizard.category.name{% endtrans %}</h3>
                    <hr>
                    {% for category in categories %}
                        <div class="row">
                            <div class="col-md-12" class="text-center">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                                        <img src="/uploads/category/{{ category.id }}/{{ category.logo }}" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2>
                                    <a href="{{ path('wizardalley_page_category', {category_id:category.id}) }}">
                                        <strong>{% trans %}wizard.category.name{% endtrans %}:</strong> {{ category.name }}
                                    </a>
                                </h2>
                                <p>{{ category.description }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h3>{% trans %}wizard.discover.last_publication{% endtrans %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('WizardalleyPublicationBundle:Publication:getLatestPublication')) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            _$pagePage = 1;
            _$pagePublication = 1;
            loadMorePage();
            $('#loadMorePage').on('click', function () {
                loadMorePage();
            });

            loadMorePublication();
            $('#loadMorePublication').on('click', function () {
                loadMorePublication();
            });

            function loadMorePage() {
                var _handler = function ($data) {
                    $('#fav_pages').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_page', {'page': _$pagePage}), 'GET', _handler);
                _$pagePage = _$pagePage + 1;
            };

            function loadMorePublication() {
                var _handler = function ($data) {
                    $('#fav_publications').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_publication', {'page': _$pagePublication}), 'GET', _handler);
                _$pagePublication = _$pagePublication + 1;
            };



        </script>
    {% endblock %}
