{% for publication in publications %}
    <div class="publication">
        <div class="row">
            <div class="col-xs-2">

                <div class="imgSquare circle">
                    <div class="imgSquareContainer">
                        {% if publication.user.pathProfile %}
                            <img src="{{ asset('uploads/profile/'~publication.user.id ~ '/' ~ publication.user.pathProfile) | imagine_filter('small_thumb') }}"/>
                        {% else %}
                            <img src="{{ asset('uploads/profile/default.png') | imagine_filter('small_thumb') }}"/>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <p class="lead">
                    {% trans %}wizard.utility.by{% endtrans %}:
                    <a class="publication-author"
                       href="{{ path('wizardalley_user_wall',{'id':publication.user.id}) }}">{{ publication.user.username }}</a>
                </p>
                <p class="lead">
                    <a href="{{ path('publication_show',{'id':publication.id}) }}">{{ publication.title }}</a>
                </p>
                <p class="lead">
                    <a href="{{ path('page_show', {'id_page': publication.page.id}) }}">{{ publication.page.name }}</a>
                </p>
                <p>
                <span class="publication-date">{{ publication.createdAt | date('d/m/Y') }}
                    - {{ publication.createdAt | date('H:i:s') }}</span>
                </p>
            </div>
            <div class="col-xs-2 text-center">
                <span class="label label-info">
                    <a href="{{ path('wizardalley_page_category', {category_id: publication.page.category.id}) }}">
                        {{ publication.page.category.name }}
                    </a>
                </span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <p>{{ publication.content | raw }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-align-right">
                <button class="label defaut-label btn">
                    <a href="{{ path('publication_show',{'id': publication.id}) }}">
                        {% trans %}publication.display.link{% endtrans %}
                    </a>
                </button>
                {% if app.user %}
                    <button class="label defaut-label like-unlike-button btn"
                            data-id="{{ publication.id }}"
                            onclick="util.likeOrUnlikePublication({{ publication.id }})"
                            {% if is_like(publication.id) %}
                            value="unlike"
                    >
                        {% trans %}publication.unlike{% endtrans %}
                        {% else %}
                            value="like"
                            >
                            {% trans %}publication.like{% endtrans %}
                        {% endif %}
                    </button>
                {% endif %}
                {% if app.user and app.user.id == publication.user.id %}
                        {% include '::includes/disablePublicationButton.html.twig' with {'id': publication.id} %}
                {% elseif app.user %}
                        {% include '::includes/addBlameButton.html.twig' with {'id': publication.id, 'type': 'publication'} %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}