
<div>
    <div class="row ">
        {% for pubFav in publications %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        {% if pubFav.images|length > 0 %}
                            <div class="imgSquare">
                                <div class="imgSquareContainer" >
                                    <img src="/uploads/publications/{{ pubFav.images.0.path }}" />
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h4><a href="{{ path('publication_show',{'id': pubFav.id }) }}">{{ pubFav.title }}</a></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Par
                            <a href="{{ path('wizardalley_user_wall',{'id': pubFav.user.id}) }}">{{ pubFav.user.username }}</a>, le {{ pubFav.createdAt | date('Y-m-d') }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>