{% extends '::base.html.twig' %}

{% block body -%}



    <div class="row" style="background-image: url('{{asset(page.getPictureCouverture)}}');background-size:100% 100%;background-repeat:no-repeat;height: 30vw;">
        <div class="row" style="margin-top:20%;">
            <div class="col-md-2">
                <div class="imgSquare " >
                    <div class="imgSquareContainer">
                        <img src="{{asset(page.getPictureProfile())}}" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" >
            <h3>{{page.name}}</h3>
        </div>
        <div class="row" >
            <div class="col-md-3" >
                <div class="col-md-12" >
                    {% if page.urlFacebook != null %}
                        <a href="{{page.urlFacebook}}" /><span class="icon-large icon-facebook" aria-hidden="true"></span> {{page.urlFacebook}}</a>
                    {% endif %}
                </div>
                <div class="col-md-12" >
                    <span class="icon-large icon  icon-heart"></span>  Followers {{page.followers | length}}
                </div>
                <div class="col-md-12" >
                    <span class="icon-large icon icon-user"></span> Inviter des amis à suivre cette page
                </div>
                
            </div>
            <div class="col-md-9">
                <p>{{page.description | raw}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h3>Publications</h3>
        <div id="my_publication">

        </div>
        <div >
            <button id="loadMorePublication" >More</button>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script>
        $page = 1;
        loadMore();
        $('#loadMorePublication').on('click', function() {
            loadMore();
        });

        function loadMore() {
            $.ajax({
                url: '{{path('page_publication_get', {'id': page.id})}}/' + $page, // Le nom du fichier indiqué dans le formulaire
                type: 'GET', // La méthode indiquée dans le formulaire (get ou post)
                success: function(html) { // Je récupère la réponse du fichier PHP
                    $('#my_publication').append(html);
                }
            });
            $page = $page + 1;
        }
        ;


    </script>
{% endblock %}
