{% extends '::user/profileBase.html.twig' %}

{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {{ entity.user.username }}
{% endblock %}

{% block profile_body -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="publication">
                <div class="row">
                    <div class="col-xs-4">

                        <div class="imgSquare circle">
                            <div class="imgSquareContaine ">
                                <img src="{{ asset(entity.user.getPictureProfile )| imagine_filter('small_thumb')  }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h3>
                            <a class="publication-author"
                               href="{{ path('wizardalley_user_wall', {'id': entity.user.id}) }}">{{ entity.user.username }}</a>
                            <br>
                            <span class="publication-date">{{ entity.createdAt | date('Y-m-d') }} à {{ entity.createdAt | date('H:i:s') }}</span>
                        </h3>
                    </div>
                    <div class="col-xs-2">

                        {% if app.user and app.user.id == entity.user.id %}
                            <div class="margin-top-middle">
                                {% include '::includes/disablePublicationButton.html.twig' with {'id': entity.id} %}
                            </div>
                        {% elseif app.user %}
                            <div class="margin-top-middle">
                                {% include '::includes/addBlameButton.html.twig' with {'id': entity.id, 'type': 'publication'} %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-md-1 "></div>
                            <div class="col-md-10">
                                <p>{{ entity.content | raw }}</p>
                            </div>
                            <div class="col-md-1 "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12 ">
                            <hr/>
                            <h4>{% trans %}publication.comments{% endtrans %}</h4>
                            <hr/>
                        </div>
                        {% for comment in entity.comments %}
                            <div class="col-md-12 comment_content">
                                <div class="col-md-2">

                                    <div class="imgSquare circle">
                                        <div class="imgSquareContainer">
                                            <img src="{{ asset(entity.user.getPictureProfile ) | imagine_filter('small_thumb') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="col-md-12">
                                        <h5>Par
                                            <a href="{{ path('wizardalley_user_wall', {'id': comment.user.id}) }}">{{ comment.user.username }}</a>
                                            , le {{ comment.dateComment | date('Y-m-d') }}
                                            à {{ comment.dateComment | date('H:i:s') }}
                                        </h5>
                                    </div>
                                    <div class="col-md-12">
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
