

    {% for publication in publications %}
        <div class="publication">
            <div class="row ">
                <div class="col-md-1">

                    <div class="imgSquare">
                        <div class="imgSquareContainer" >
                            {% if publication.type == 'page_publication' %}
                                <img  src="{{asset('uploads/page/'~publication.writer_id ~ '/' ~ publication.path_profile)}}" />

                            {% else %}
                                <img  src="{{asset('uploads/profile/'~publication.writer_id ~ '/' ~ publication.path_profile)}}" />

                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <h3>Par {{publication.name}}, le {{publication.datePublication | date('Y-m-d')}} à {{publication.datePublication | date('H:i:s')}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>{{publication.content}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6>Commentaires </h6>
                </div>
            </div>
                
        </div>
    {% endfor %}