

    {% for publication in publications %}
        <div class="publication">
            <div class="row ">
                <div class="col-md-1">

                    <div class="imgSquare">
                        <div class="imgSquareContainer" >
                            {% if publication.type == 'page_publication' %}
                                <img  src="{{asset('uploads/page/'~publication.writer_id ~ '/' ~ publication.path_profile)}}" />
                            {% else %}
                                <img  src="{{asset('uploads/profile/'~publication.writer_id ~ '/' ~ publication.path_profile)}}" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    {% if publication.type == 'page_publication' %}
                        <h3>    
                            <a href="{{path('publication_show',{'id':publication.publication_id})}}">{{publication.title}}</a>
                        </h3>
                    {% endif %}
                    <h5>Par 
                        {% if publication.type == 'page_publication' %}
                            <a href="{{path('page_show', {'id_page': publication.writer_id})}}" >{{publication.name}}</a>
                        {% else %}
                            <a href="{{path('wizardalley_user_wall', {'id': publication.writer_id})}}" >{{publication.name}}</a>
                        {% endif %}
                        , le {{publication.datePublication | date('Y-m-d')}} à {{publication.datePublication | date('H:i:s')}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        {% if publication.type == 'page_publication' %}
                                <p>{{publication.content | raw}}</p>
                         {% else %}
                                <p>{{publication.content}}</p>
                          {% endif %}
                         
                            
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6>Commentaires </h6>
                </div>
            </div>
                
        </div>
    {% endfor %}