{% extends '::page/gestionPage/template.html.twig' %}


{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.title.edit{% endtrans %} - {{ page.name }}
{% endblock %}

{% block gestion %}

    <h1>{% trans %}wizard.page.publication_list{% endtrans %}</h1>
    <div class="count">
        {% trans %}wizard.page.number_publication{% endtrans %}: {{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <tr>
            <th>{% trans %}wizard.page.list.id{% endtrans %}</th>
            <th>{% trans %}wizard.page.list.title{% endtrans %}</th>
            <th>{% trans %}wizard.page.list.date{% endtrans %}</th>
            <th>{% trans %}wizard.page.list.actions{% endtrans %}</th>
        </tr>

        {# table body #}
        {% for publication in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ publication.id }}</td>
                <td>{{ publication.title }}</td>
                <td>{{ publication.createdAt | date('Y-m-d') }}, {{ publication.createdAt | date('H:i:s') }}</td>
                <td>
                    <ul>
                        {% if publication.online %}
                            <li>
                                <a href="{{ path('publication_show', { 'id':  publication.id }) }}">
                                    {% trans %}wizard.page.list.show{% endtrans %}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('publication_preview', { 'id':  publication.id }) }}">
                                    {% trans %}wizard.page.list.preview{% endtrans %}
                                </a>
                            </li>
                        {% endif %}
                        {%  if isAdmin or publication.user.id == app.user.id %}
                            <li>
                                <a href="{{ path('publication_edit', { 'id':  publication.id }) }}">
                                    {% trans %}wizard.page.list.edit{% endtrans %}
                                </a>
                            </li>
                        {% endif %}
                        {%  if isAdmin or publication.page.checkers.contains(app.user)%}
                            <li>
                                <a href="{{ path('publication_toggle_online', { 'id':  publication.id }) }}">
                                    {% if publication.online %}
                                        {% trans %}wizard.page.list.set_offline{% endtrans %}
                                    {% else %}
                                        {% trans %}wizard.page.list.set_online{% endtrans %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('publication_new',{'id_page' : id_page}) }}">
                {% trans %}wizard.page.list.create_publication{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
